<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>MEMO</title>
    <link th:href="@{classpath:static/css/memo-form.css}" rel="stylesheet"/>
</head>
<body>
<table class="bordered" style="width: 100%;border-collapse: collapse">
    <tr>
        <td colspan="2">
            <table style="width: 100%">
                <tr>
                    <td style="width: 15%;border: none">
                        <img style="height: 40px" th:src="@{classpath:static/images/logo.png}" alt="" />
                    </td>
                    <th style="text-align: center; width: 85%; font-size: 20px; font-weight: bold; border: none">
                        CRÉDIT COMMUNAUTAIRE D'AFRIQUE BANK
                    </th>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th class="pl-2" style="width: 45%;">MEMO N°<span th:text="${form.number}"></span></th>
        <td class="pl-2" style="width: 55%;"><b>ÉMETTEUR : </b> <span th:utext="${form.sender}"></span></td>
    </tr>
    <tr>
        <th class="pl-2">DATE : <span th:text="${#temporals.format(form.date, 'dd/MM/yyyy')}"></span></th>
        <td class="pl-2"><b>OBJET : </b> <span th:utext="${form.subject}"></span></td>
    </tr>
    <tr>
        <th class="pl-2" rowspan="2"><i>REF : N°<span th:text="${form.reference}"></span></i></th>
        <td class="pl-2"><b>MATIÈRE : </b><span th:utext="${form.material}"></span></td>
    </tr>
    <tr>
        <td class="pl-2"><b>DESTINATAIRE : </b> <span th:utext="${form.receiver}"></span></td>
    </tr>
</table>

<div style="margin-top: 30px; margin-bottom: 30px; text-align: justify" th:utext="${form.body}"></div>

<table style="width: 100%">
    <tr>
        <th th:each="signatory : ${form.signatories}" style="text-align: center" th:text="${signatory.name}"></th>
    </tr>
    <tr>
        <td th:each="signatory : ${form.signatories}" style="text-align: center">
            <img class="signature" th:src="${signatory.signature}" />
        </td>
    </tr>
    <tr>
        <td th:each="signatory : ${form.signatories}" style="text-align: center" th:text="${#temporals.format(signatory.date, 'dd/MM/yyyy')}"></td>
    </tr>
</table>
</body>
</html>