<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>ORDRE DE MISSION</title>
    <link th:href="@{classpath:static/css/mission-form.css}" rel="stylesheet"/>
</head>
<body>
<table style="width: 100%;margin-bottom: 5px">
    <tr>
        <td style="width: 40%;">
            <img style="height: 60px" th:src="@{classpath:static/images/logo.png}" alt="" />
        </td>
        <th style="text-align: center; width: 60%; border: 5px solid #7634b4; font-size: 20px; font-weight: bold; border-radius: 10px 0">
            ORDRE DE MISSION
        </th>
    </tr>
</table>
<p style="text-align: center"><b>Ville et date de référence : </b><span th:text="${form.place}"></span> <b>le</b> <span th:text="${#temporals.format(form.date, 'dd/MM/yyyy')}"></span></p>
<table class="bordered" style="width: 100%;border-collapse: collapse">
   <tr>
       <th class="pl-2">NOM(S) ET PRÉNOM(S)</th>
       <td class="pl-2" th:text="${form.name}"></td>
   </tr>
    <tr>
        <th class="pl-2">FONCTION ET UNITÉ</th>
        <td class="pl-2">
            <span th:text="${form.function}"></span> <br/>
            <span th:text="${form.unity}"></span>
        </td>
    </tr>
    <tr>
        <th class="pl-2">NUMÉRO DU COMPTE COURANT</th>
        <td class="pl-2" th:text="${form.accountNumber}"></td>
    </tr>
    <tr>
        <th class="pl-2">OBJET ET LIEU DE LA MISSION</th>
        <td class="pl-2">
            <span th:text="${form.object}"></span> <br/>
            <span th:text="${form.location}"></span>
        </td>
    </tr>
    <tr>
        <th class="pl-2">DATE DE DÉPART ET DE RETOUR</th>
        <td class="pl-2">
            du <span th:text="${#temporals.format(form.startDate, 'dd/MM/yyyy')}"></span> au <span th:text="${#temporals.format(form.endDate, 'dd/MM/yyyy')}"></span>
        </td>
    </tr>
    <tr>
        <th class="pl-2">NOMBRE DE NUITÉES A CONSIDÉRER</th>
        <td class="pl-2" th:text="${form.nights}"></td>
    </tr>
    <tr>
        <th class="pl-2" style="border-bottom: none; border-right: none">MOYEN DE TRANSPORT UTILISÉ :</th>
        <th style="text-align: center; border-bottom: none; border-left: none"><i>Signature de l'employé(e),</i></th>
    </tr>
    <tr>
        <th class="pl-2" style="border-top: none; border-bottom: none; border-right: none"> TRANSPORT EN COMMUN <input type="checkbox" th:checked="${#bools.isTrue(form.transport?.common)}" readonly="true"/></th>
        <td rowspan="4" style="text-align: center; border-top: none; border-left: none">
            <img class="signature" th:src="${form.signature}" />
        </td>
    </tr>
    <tr>
        <th class="pl-2" style="border-top: none; border-bottom: none; border-right: none">VÉHICULE DE SERVICE <input type="checkbox" th:checked="${#bools.isFalse(form.transport?.common)}" readonly="true"/></th>
    </tr>
    <tr>
        <td class="pl-2" style="border-top: none; border-bottom: none; border-right: none"><b>IMMATRICULATION :</b> <span th:if="${#bools.isFalse(form.transport?.common)}" th:text="${form.transport?.immatriculation}"></span></td>
    </tr>
    <tr>
        <td class="pl-2" style="border-top: none; border-right: none"><b>COURSIER :</b> <span th:if="${#bools.isFalse(form.transport?.common)}" th:text="${form.transport?.courier}"></span></td>
    </tr>
</table>

<p style="text-align: center"><b>AVIS ET DÉCISION DE LA HIÉRARCHIE</b></p>
<table class="bordered center" style="width: 100%; border-collapse: collapse">
    <tr>
        <th>Hiérarchie N + 1 <br/> <i>(Nom, fonction, date et signature)</i></th>
        <th>Hiérarchie N + 2 <br/> <i>(Nom, fonction, date et signature)</i></th>
        <th>Décision Direction Générale</th>
    </tr>
    <tr>
        <td style="border-bottom: none" th:text="${form.supervisor?.name}"></td>
        <td style="border-bottom: none" th:text="${form.supervisorNext?.name}"></td>
        <td style="border-bottom: none" th:text="${form.headOffice?.name}"></td>
    </tr>
    <tr>
        <td style="border-bottom: none; border-top: none" th:text="${form.supervisor?.function}"></td>
        <td style="border-bottom: none; border-top: none" th:text="${form.supervisorNext?.function}"></td>
        <td style="border-bottom: none; border-top: none" th:text="${form.headOffice?.function}"></td>
    </tr>
    <tr>
        <td style="border-bottom: none; border-top: none" th:text="${#temporals.format(form.supervisor?.date, 'dd/MM/yyyy')}"></td>
        <td style="border-bottom: none; border-top: none" th:text="${#temporals.format(form.supervisorNext?.date, 'dd/MM/yyyy')}"></td>
        <td style="border-bottom: none; border-top: none" th:text="${#temporals.format(form.headOffice?.date, 'dd/MM/yyyy')}"></td>
    </tr>
    <tr style="height: 70px">
        <td style="border-top: none">
            <img class="signature" th:src="${form.supervisor?.signature}" />
        </td>
        <td style="border-top: none">
            <img class="signature" th:src="${form.supervisorNext?.signature}" />
        </td>
        <td style="border-top: none">
            <img class="signature" th:src="${form.headOffice?.signature}" />
        </td>
    </tr>
</table>

<p style="text-align: center"><b>CADRE RESERVÉ AU CAPITAL HUMAIN</b></p>
<table class="bordered" style="width: 100%; border-collapse: collapse">
    <tr>
        <th colspan="2" class="pl-2">DÉTAILS DE PAIEMENT</th>
        <th colspan="2" style="text-align: center">TRAITEMENT DANS AMPLITUDE ACHATS</th>
        <th style="text-align: center">Signature du Donneur d'Ordre</th>
    </tr>
    <tr>
        <th rowspan="2" style="width: 20%" class="pl-2"><i>Support de charge</i></th>
        <td rowspan="2" style="width: 20%" class="pl-2" th:text="${form.chargeSupport}"></td>
        <th style="width: 16%" class="pl-2">N° Autorisation</th>
        <td style="width: 24%" class="pl-2" th:text="${form.authorisationNumber}"></td>
        <td rowspan="5" style="text-align: center">
            <p style="text-align: center" th:text="${form.requester?.name}"></p>
            <p style="text-align: center" th:text="${#temporals.format(form.requester?.date, 'dd/MM/yyyy')}"></p>
            <p style="text-align: center">
                <img class="signature" th:src="${form.requester?.signature}" />
            </p>
        </td>
    </tr>
    <tr>
        <th class="pl-2">N° Réception</th>
        <td class="pl-2" th:text="${form.receiptNumber}"></td>
    </tr>
    <tr>
        <th class="pl-2"><i>Frais de mission</i></th>
        <td class="pl-2" th:text="${T(com.cca.reporting.util.DigitUtils).toCurrency(form.missionFees)}"></td>
        <td colspan="2" rowspan="3">
            <p style="text-align: center"><b><u>Signature UCH</u></b></p>
            <p style="text-align: center" th:text="${form.uch?.name}"></p>
            <p style="text-align: center" th:text="${#temporals.format(form.uch?.date, 'dd/MM/yyyy')}"></p>
            <p style="text-align: center">
                <img class="signature" th:src="${form.uch?.signature}" />
            </p>
        </td>
    </tr>
    <tr>
        <th class="pl-2"><i>Frais de transport</i></th>
        <td class="pl-2" th:text="${T(com.cca.reporting.util.DigitUtils).toCurrency(form.transportFees)}"></td>
    </tr>
    <tr>
        <th class="pl-2"><i>MONTANT TOTAL</i></th>
        <td class="pl-2" th:text="${T(com.cca.reporting.util.DigitUtils).toCurrency(form.total)}"></td>
    </tr>
</table>
</body>
</html>