<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>DEMANDE D'ACHAT / RÈGLEMENT</title>
    <link th:href="@{classpath:static/css/purchase-form.css}" rel="stylesheet"/>
</head>
<body>
    <table style="width: 100%;margin-bottom: 10px">
        <tr>
            <td style="width: 20%;">
                <img style="height: 40px" th:src="@{classpath:static/images/logo.png}" alt="" />
            </td>
            <td style="text-align: center; vertical-align: center">
                <b>Demande d'achat / Règlement N°</b> <span th:text="${form.number}"></span> <b>du</b> <span th:text="${#temporals.format(form.date, 'dd/MM/yyyy')}"></span>
            </td>
        </tr>
    </table>
    <table class="bordered">
        <tr style="background-color: gray">
            <th>Étape 1 : Cadre réservé aux MG</th>
            <td><b>Date de déclenchement :</b> <span th:text="${#temporals.format(form.triggerDate, 'dd/MM/yyyy')}"></span></td>
        </tr>
    </table>
    <p><b>Objet de la demande :</b> <span th:text="${form.object}"></span></p>
    <p><b>Agence / Service demandeur :</b> <span th:text="${form.branch}"></span></p>
    <p><b>Fournisseurs Soumissionnaires :</b> <span th:text="${form.providers}"></span></p>
    <p><b>Fournisseur Sélectionné :</b> <span th:text="${form.provider}"></span></p>
    <p><b>Délai de livraison :</b> <span th:text="${#temporals.format(form.deliveryDelay, 'dd/MM/yyyy')}"></span> <b style="margin-left: 50px">Type de règlement :</b> <span th:text="${form.settlementMode}"></span></p>
    <table class="bordered">
        <tr>
            <td colspan="5">Compte à impacter (superviseur Comptable) : <span th:text="${form.accountNumber}"></span></td>
        </tr>
        <tr>
            <td style="width: 30%">DÉSIGNATION</td>
            <td style="width: 10%; text-align: center">QUANTITÉ</td>
            <td style="width: 15%; text-align: center">Prix Unitaire</td>
            <td style="width: 15%; text-align: center">Prix Total</td>
            <td style="text-align: center">Observations <br/> (avance, reliquat, totalité...)</td>
        </tr>
        <tr th:each="article, iter : ${form.articles}">
            <td th:text="${article.name}"></td>
            <td style="text-align: center" th:text="${article.quantity}"></td>
            <td style="text-align: center" th:text="${article.price}"></td>
            <td style="text-align: center" th:text="${article.total}"></td>
            <td style="text-align: center" th:if="${iter.first}" th:rowspan="${iter.size}" th:text="${form.observation}"></td>
        </tr>
    </table>

    <table style="margin-top: 10px; background-color: gray" class="bordered">
        <tr>
            <th style="width: 35%">Étape 2 : Cadre réservé au contrôle budgétaire</th>
            <td style="width: 31%"><b>Date de réception :</b> <span th:text="${#temporals.format(form.receptionDate2, 'dd/MM/yyyy')}"></span></td>
            <td><b>Date de transmission :</b> <span th:text="${#temporals.format(form.transmissionDate2, 'dd/MM/yyyy')}"></span></td>
        </tr>
    </table>
    <table style="text-align: center; vertical-align: center" class="bordered">
        <tr>
            <th colspan="2">Opportune</th>
            <th colspan="3">Disponibilité du Budget à date</th>
            <th>Avis et Signature CB</th>
        </tr>
        <tr>
            <td style="width: 7%">OUI</td>
            <td style="width: 7%">NON</td>
            <td style="width: 21%">Mensuel</td>
            <td style="width: 20%">Annuel</td>
            <td style="width: 20%">Budget disponible</td>
            <td rowspan="2">
                <span th:text="${form.budgetControl?.opinion}"></span> <br/>
                <img class="signature" th:src="${form.budgetControl?.signature}" />
            </td>
        </tr>
        <tr>
            <th>
                <span th:if="${form.necessity}">X</span>
            </th>
            <th>
                <span th:unless="${form.necessity}">X</span>
            </th>
            <th><span th:if="${form.budgetAvailability == 1}">X</span></th>
            <th><span th:if="${form.budgetAvailability == 2}">X</span></th>
            <th><span th:if="${form.budgetAvailability == 3}">X</span></th>
        </tr>
    </table>
    <table class="bordered">
        <tr style="background-color: gray">
            <th style="width: 35%">Étape 3 : Cadre réservé à la fiscalité</th>
            <td style="width: 31%"><b>Date de réception :</b> <span th:text="${#temporals.format(form.receptionDate3, 'dd/MM/yyyy')}"></span></td>
            <td><b>Date de transmission :</b> <span th:text="${#temporals.format(form.transmissionDate3, 'dd/MM/yyyy')}"></span></td>
        </tr>
        <tr>
            <td colspan="3">
                Avis et signature de la fiscalité : <span th:text="${form.fiscal?.opinion}"></span> <br/>
                <img class="signature" th:src="${form.fiscal?.signature}" />
            </td>
        </tr>
    </table>
    <table style="margin-top: 10px" class="bordered">
        <tr style="background-color: gray">
            <th style="border-right: none">Étape 4</th>
            <th style="border-left: none; text-align: center" colspan="6">SIGNATURES AUTORISÉES (avec date de signature)</th>
        </tr>
        <tr style="text-align: center">
            <td>Initiateur</td>
            <td>Superviseur</td>
            <td>ARMG</td>
            <td>RMG</td>
            <td>DAF</td>
            <td>DGA</td>
            <td>DG</td>
        </tr>
        <tr style="text-align: center">
            <td style="border-bottom: none;">
                <img class="signature" th:src="${form.initiator?.signature}" />
            </td>
            <td style="border-bottom: none;">
                <img class="signature" th:src="${form.supervisor?.signature}" />
            </td>
            <td style="border-bottom: none;">
                <img class="signature" th:src="${form.armg?.signature}" />
            </td>
            <td style="border-bottom: none;">
                <img class="signature" th:src="${form.rmg?.signature}" />
            </td>
            <td style="border-bottom: none;">
                <img class="signature" th:src="${form.daf?.signature}" />
            </td>
            <td style="border-bottom: none;">
                <img class="signature" th:src="${form.dga?.signature}" />
            </td>
            <td style="border-bottom: none;">
                <img class="signature" th:src="${form.dg?.signature}" />
            </td>
        </tr>
        <tr style="text-align: center">
            <td style="border-top: none;" th:text="${#temporals.format(form.initiator?.date, 'dd/MM/yyyy')}"></td>
            <td style="border-top: none;" th:text="${#temporals.format(form.supervisor?.date, 'dd/MM/yyyy')}"></td>
            <td style="border-top: none;" th:text="${#temporals.format(form.armg?.date, 'dd/MM/yyyy')}"></td>
            <td style="border-top: none;" th:text="${#temporals.format(form.rmg?.date, 'dd/MM/yyyy')}"></td>
            <td style="border-top: none;" th:text="${#temporals.format(form.daf?.date, 'dd/MM/yyyy')}"></td>
            <td style="border-top: none;" th:text="${#temporals.format(form.dga?.date, 'dd/MM/yyyy')}"></td>
            <td style="border-top: none;" th:text="${#temporals.format(form.dg?.date, 'dd/MM/yyyy')}"></td>
        </tr>
    </table>

    <table style="margin-top: 10px; background-color: gray" class="bordered">
        <tr>
            <th style="width: 35%">Étape 5 : Cadre réservé à la DOP</th>
            <td style="width: 31%"><b>Date de réception :</b> <span th:text="${#temporals.format(form.receptionDate5, 'dd/MM/yyyy')}"></span></td>
            <td><b>Date de saisie :</b> <span th:text="${#temporals.format(form.treatmentDate5, 'dd/MM/yyyy')}"></span></td>
        </tr>
    </table>
    <table class="bordered">
        <tr>
            <td><b>Opérateur de saisie de la DOP :</b> <span th:text="${form.operatorDop}"></span></td>
            <td><b>Superviseur de la saisie :</b> <span th:text="${form.supervisorDop}"></span></td>
        </tr>
        <tr>
            <td style="text-align: center" colspan="2">
                <i>Observations Générales (cadre réservé à tout intervenant à renseigner au besoin avec signature et date)</i>
                <template th:if="${form.observationDop != null}">
                    <br/> <span th:utext="${form.observationDop.opinion}"></span> <br/>
                    <img class="signature" th:src="${form.observationDop.signature}" /> <br/>
                    <span th:text="${#temporals.format(form.observationDop.date, 'dd/MM/yyyy')}"></span>
                </template>
            </td>
        </tr>
    </table>
</body>
</html>