<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>TRANSACTION RECEIPT</title>
    <link th:href="@{classpath:static/css/receipt-form.css}" rel="stylesheet"/>
</head>
<body>
<div style="width: 100%" th:each="i,iter : ${#numbers.sequence(0, 1)}" th:classappend="${iter.first ? 'fixed-top' : 'fixed-bottom'}">
    <table class="bordered" style="width: 100%;border-collapse: collapse">
        <tr>
            <td class="bordered-bottom" style="width: 25%; text-align: center; padding: 15px">
                <img style="height: 40px" th:src="@{classpath:static/images/logo.png}" alt="" />
            </td>
            <td class="bordered-bottom" colspan="2"></td>
        </tr>
        <tr>
            <th>NOM DE L'ÉLÈVE :</th>
            <td style="width: 40%" th:text="${#strings.toUpperCase(form.student)}"></td>
            <td rowspan="13" style="vertical-align: top">
                <div style="height: 100px; color: white; background-color: #7634b4; text-align: center; padding-top: 15px; font-weight: bold" th:text="${#strings.toUpperCase(form.schoolName)}"></div>
            </td>
        </tr>
        <tr>
            <th>CLASSE :</th>
            <td th:text="${#strings.toUpperCase(form.level)}"></td>
        </tr>
        <tr>
            <th>MATRICULE :</th>
            <td th:text="${#strings.toUpperCase(form.matricule)}"></td>
        </tr>
        <tr>
            <th>MONTANT :</th>
            <td>XAF <span th:text="${form.amount}"></span></td>
        </tr>
        <tr>
            <th>ANNÉE SCOLAIRE :</th>
            <td th:text="${form.academicYear}"></td>
        </tr>
        <tr>
            <th>NOM DU DÉPOSANT :</th>
            <td th:text="${#strings.toUpperCase(form.depositor)}"></td>
        </tr>
        <tr>
            <th>EMAIL DU DÉPOSANT :</th>
            <td th:text="${form.email}"></td>
        </tr>
        <tr>
            <th>REFÉRENCE PAIEMENT :</th>
            <td th:text="${#strings.toUpperCase(form.reference)}"></td>
        </tr>
        <tr>
            <th>NOM DE L'AGENCE :</th>
            <td th:text="${#strings.toUpperCase(form.agencyName)}"></td>
        </tr>
        <tr>
            <th>DATE :</th>
            <td th:text="${form.frenchDate}"></td>
        </tr>
        <tr>
            <th>MODE DE PAIEMENT :</th>
            <td th:text="${#strings.toUpperCase(form.paymentMode)}"></td>
        </tr>
        <tr>
            <th>PAIEMENT POUR :</th>
            <td th:text="${#strings.toUpperCase(form.schoolName)}"></td>
        </tr>
        <tr>
            <th>SIGNATURE DU CLIENT :</th>
            <td style="height: 60px">
                <div style="width: 50%; height: 100%; border-bottom: 1px dashed black"></div>
            </td>
        </tr>
    </table>
</div>
<div style="margin: auto; width: 100%;border-top: dashed gray 2px;position: fixed; top: 50%; bottom: 50%"></div>
</body>
</html>