<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>FICHE DE REPRISE DE SERVICE</title>
    <link th:href="@{classpath:static/css/resumption-form.css}" rel="stylesheet"/>
</head>
<body>
<table style="width: 100%;margin-bottom: 5px">
    <tr>
        <td style="width: 40%;">
            <img style="height: 60px" th:src="@{classpath:static/images/logo.png}" alt="" />
        </td>
        <th style="text-align: center; width: 60%; border: 5px solid #7634b4; font-size: 20px; font-weight: bold; border-radius: 10px 0">
            FICHE DE REPRISE DE SERVICE
        </th>
    </tr>
</table>
<p style="float: right"><span th:text="${form.place}"></span>, le <span th:text="${#temporals.format(form.date, 'dd/MM/yyyy')}"></span></p>
<p style="margin-top: 100px"><b>Matricule : </b> <span th:text="${form.matricule}"></span></p>
<p><b>Noms et Prénoms : </b> <span th:text="${form.name}"></span></p>
<p><b>Unité : </b> <span th:text="${form.unity}"></span></p>
<p><b>Fonction/Poste : </b> <span th:text="${form.function}"></span></p>
<p><b>Date de départ : </b> <span th:text="${#temporals.format(form.startDate, 'dd/MM/yyyy')}"></span></p>
<p><b>Date de reprise prévue : </b> <span th:text="${#temporals.format(form.endDate, 'dd/MM/yyyy')}"></span> <b style="padding-left: 40px">Date de reprise effective : </b> <span th:text="${#temporals.format(form.realEndDate, 'dd/MM/yyyy')}"></span> <b th:if="${form.endDate != form.realEndDate}">(écart)</b></p>
<p th:if="${form.reason?.ordinal == 4}"><b>Motif de l'absence : </b> <span th:text="${form.explication}"></span></p>
<table th:unless="${form.reason?.ordinal == 4}" style="width: 100%">
    <tr>
        <th>Motif de l'absence : </th>
        <td style="text-align: right"><i>Congé annuel</i></td>
        <td style="text-align: left">
            <input type="checkbox" th:checked="${form.reason?.ordinal == 0}" readonly="true"/>
        </td>
        <td style="text-align: right"><i>Congé de maternité</i></td>
        <td style="text-align: left">
            <input type="checkbox" th:checked="${form.reason?.ordinal == 1}" readonly="true"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: right"><i>Repos médical</i></td>
        <td style="text-align: left">
            <input type="checkbox" th:checked="${form.reason?.ordinal == 2}" readonly="true"/>
        </td>
        <td style="text-align: right"><i>Autorisation d'absence</i></td>
        <td style="text-align: left">
            <input type="checkbox" th:checked="${form.reason?.ordinal == 3}" readonly="true"/>
        </td>
    </tr>
</table>
<table class="signatory-info" style="width: 100%;margin-top: 10px; border-collapse: collapse">
    <tr>
        <th style="width: 50%">Signature de l'Employé(e)</th>
        <th>Visa supérieur hiérarchique</th>
    </tr>
    <tr style="height: 100px">
        <td style="border-bottom: none">
            <img class="signature" th:src="${form.signature}" />
        </td>
        <td style="border-bottom: none">
            <img class="signature" th:src="${form.supervisor?.signature}" />
        </td>
    </tr>
    <tr>
        <td style="border-top: none" th:text="${form.name}"></td>
        <td style="border-top: none" th:text="${form.supervisor?.name}"></td>
    </tr>
</table>
</body>
</html>